<!DOCTYPE html>
<html lang="en">
<head>
<title>Book Library</title>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
      integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Solway:500&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="{% url 'BookLibrary:home' %}">Book Library</a> </li>
                {% if user.is_authenticated %}
                    <li><a class="navbar-link" href="{% url 'BookLibrary:upload-book' %}">Upload Book</a> </li>
                {% else %}
                    <li><a class="navbar-brand" href="{% url 'accounts:user_login' %}">Login</a> </li>
                    <li><a class="navbar-link" href="{% url 'accounts:register' %}">Register</a> </li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
            <li><a class="navbar-link" href="{% url 'accounts:logout' %}">Logout</a> </li>
            </ul>
            {% endif %}
        </div>
    </nav>

<div class="container" style="height: max-content;">
        {% block body_block %}
        {% endblock %}

</div>

</body>
<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p>New to Bootstrap? <a href="https://getbootstrap.com/">Visit the homepage</a> or read our <a href="/docs/4.4/getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script></body>
</html>